.container {
    width: 75%;
    margin: 0 auto 100px;
}
.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.main {
    flex: 1;
    padding: 50px;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .content {
        flex-direction: column;
    }
    .main {
        margin: 25px 0 0 0;
        padding: 25px;
    }
}